Liste aller Filme:

<button mat-raised-button color="primary" (click)="loadFilms()">Filme laden</button>

<div class="filmPreview">
  <mat-card *ngFor="let film of filmList, let i = index" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{film.titel}}</mat-card-title>
      <mat-card-subtitle>{{film.genre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imgPaths[i]" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{film.beschreibung}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

</div>


