<button mat-raised-button color="accent" (click)="loadFilms()">
  Filme laden
</button>
<h1 *ngIf="filmList" class="categoryTitel">Dokumentationen</h1>

<div class="filmPreview">
  <ng-container *ngFor="let film of filmList; let i = index">
    <mat-card *ngIf="film.genre === 'DOKUMENTATION'" class="example-card">
      <mat-card-header>
        <mat-card-title>{{ film.titel }}</mat-card-title>
        <mat-card-subtitle>{{ film.genre }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="imgPaths[i]" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          {{ film.beschreibung }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Trailer</button>
        <button mat-raised-button color="primary">Anschauen</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
<h1 *ngIf="filmList" class="categoryTitel">Komödien</h1>

<div class="filmPreview">
  <ng-container *ngFor="let film of filmList; let i = index">
    <mat-card *ngIf="film.genre === 'KOMOEDIE'" class="example-card">
      <mat-card-header>
        <mat-card-title>{{ film.titel }}</mat-card-title>
        <mat-card-subtitle>{{ film.genre }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="imgPaths[i]" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          {{ film.beschreibung }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Trailer</button>
        <button mat-raised-button color="primary">Anschauen</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
